
 
/*/////////////////////////////////////////////////////////////////////////*/
body {
    padding: 0% !important;
    margin: 0% !important;
    direction: rtl;
    /*font-family: 'Markazi Text', serif;*/
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration:none;
}

#logosize {
     width:200px;
         height:60px;
}
.mynavbar {
    height:70px;
    border-bottom:rgba(0,115,105,0.3) 1px solid;
}
#containbody {
    padding: 0% !important;
    /*margin: 0% !important;*/
}
.mylink {
    color:#ae457e;

}
.mylink:hover {
    color:#01ae90;
}
#links
{
    position: fixed;
    top:40%;
    right: 0px;
    text-align: center;
    padding: 0px;
    z-index: 500;
}
#links li
{
    background-color: white;
    width:40px;
}
#links li .t:hover
{
    background-color: #41a8d3;
    color: white;
    border-radius: 50%;
}

#links li .f:hover
{
    background-color: rgba(10, 10, 170, 0.884);
    color: white;
    border-radius: 50%;
}

#links li .i:hover
{
    background: linear-gradient(45deg,#f09433 0,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
    border-radius: 50%;
}

#searchresult {
}

#Search {
    z-index: 1;
}

.selection {
    width: 300px;
    height: 50px;
    color: cadetblue;
    font-size: 20px;
}

.InfoColor {
    color: #ae457e;
}

#CentersDetails {
    height: 40vh;
    background-image: url("/Content/Images/Salons-around.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#searchresult{
    position:absolute;
    top:30%;
}
#searchbtn {
    color: white;
    padding:0 4% 0 4%;
    background-color: #01ae90;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#cenetrs {
    border-radius: 5px;
    background-color: white;
}

#Booking {
    background-color:#01ae90;
    font-size: 22px;
    color: white;
}

#filtersection {
    padding-top: 6%;
}

#accordion {
    border-radius: inherit !important;
}

#filterbysrv {
    background-color:#01ae90;
    border-radius: inherit !important;
}

.Color1 {
    color: white;
}

.fonts {
    font-size: 1.3rem;
}

.SRHfonts {
    font-size: 1.5rem;
}

#card1 {
    border-radius: 5%;
}

#cardheader {
    border: 0;
}

#label {
    color: cadetblue;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"] + label:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #ae457e;
        position: relative;
        margin-bottom: 0 !important;
        left: 0;
        top: 0;
        opacity: .6;
        -webkit-transition: all .12s, border-color .08s;
        transition: all .12s, border-color .08s;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-radius: 0;
        margin-top: 1.5rem;
        cursor: pointer;
        opacity: 1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }


/*////////////////////////////////////////////////////////////////////////////////////////*/
#MainInfoSection {
   
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mensrvphoto {
    background-image: url("/Content/Images/adults-barber-barbershop.jpg");
}
.Womensrvphoto {
     background-image: url("/Content/Images/serviceWomen.jpg");
}
.bothsrvphoto {
     background-image: url("/Content/Images/Salons-around.jpg");
}
#overlay {
padding: 0 !important;
background-color: rgba(0,0,0,0.5);
background-size: cover;
width: 50%;
height: auto;
position: absolute;
top: 28%;
right: 25%;
    
}


#CenterName {
    font-size: 2.8rem;
    color: rgb(62,255,222);
    font-weight: bolder;
}

#Cdescription {
    color: white;
    font-size: 1.3rem;
}
#newjoin {
    color: white !important;
    z-index:999;
}

.SrvHeader {
    margin: 0 auto;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.heading {
    color: #01ae90;
    text-align: center;

}

.SrvContainer {
    margin: 0 auto;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.service-box {
    border: 2px solid #e2e2e2;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
}

    .service-box .topImg img {
        width: 100%;
        height: 20rem;
        background-size: cover;
    }

.topImg {
     width: 300px;
}
.img-fluid {
    width: 100%;
}

#underimg {
    vertical-align: middle;
    border-style: none;
}

.text {
    color: #01ae90;
    font-weight: 500;
}

.tcolor {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #777777;
}

.topImg {
    max-width: 30rem;
}

.service-box p {
    margin-bottom: 18px;
}
 /*//////////////////////////////////////////////////////////////////////*/


.svgsize{
 width:30px;
  height:30px;
}


@media all and (min-width:768px) and (max-width:1250px) {
#searchbtn {
    width:100px;
    height:50px;
}

.SRHfonts {
    font-size: 16px;
}
}

@media all and (max-width:768px) {

  #searchbtn {
    width:50px;
    height:50px;
}
  .SRHfonts {
     font-size: 16px;
}
    #Booking {
        width:100px;
        height:40px;
        font-size:0.9rem;
    }
    #cenetrs {
        font-size:0.9rem !important;
    }
#logosize {
    width:150px;
    height:50px;
    padding-top:0px;
    padding-right:0px;

}
#collapsibleNavbar {
    background-color:white;
    z-index:999;
    width:200px;

}
#collapsibleNavbar {
    font-size:12px;
    width:100px;
  

}
.mylink {
    float:right;
}
.selection {

    width: 100px;
    height:30px;
    color: cadetblue;
    font-size: 12px;
    text-align:center;
    margin:0 !important;
    padding:0 !important;

}
#searchbtn {
   height:30px;
   padding:0;
   
}
#searchbtn i {
   display:none;
   
}
.InfoColor {
    font-size:1rem;
    text-align:center;
}
.Sicons {
    font-size:2.5rem;
     text-align:center;
}
.resizeL {
    font-size:1rem;
     text-align:center;
}
.Stext {
    font-size:0.7rem;
     text-align:center;
}
    .recover {
        display:block !important;

    }
    .recx {
        float:none !important;
    }
    input[type="checkbox"] + label:before {
        width:10px;
        height:10px;
    }
    #label {
    color: cadetblue;
    font-size: 0.7rem;
}
    .fonts {
    font-size: 0.9rem;
}
    .footerheader {
        font-size:0.7rem;
    }
    .footerlink {
        font-size:0.5rem;
    }
    .footer_logo {
        padding-top:30%;

    }
    	.footer_content {
			height: 50px;
		}

      .flogo {
          width:100px;
          height:50px;
			
		}
}
        #contact a:hover {
            text-decoration: none;
            color: #66ff99;
        }


        .icons_h {
            margin-top: 0%;
            height: 40px;
        }

        .icon-bg {
            width: 10%;
            height: 100%;
            background-color: #01ae90;
            color: white;
            padding-top: 2%;
            font-size: x-large;
            text-align: center;
        }

            .icon-bg:hover {
                background-color: white;
                border: 1px solid black;
                color: #01ae90;
            }

	#footer {
			background: #000000;
			color: #ffffff;
			padding: 50px 30px;
		}

		.footer {
			max-width: 1170px;
			margin: 0 auto;
			position: relative;
		}

		.footer_content {
			height: 100px;
		}

		.footer_logo {
			padding-top: 25px;
			float: left;
			opacity: 0.8;
		}

		.footer_links {
			padding-left: 20px;
			margin-left: 150px;
			float: left;
			width: 55%;
            color:#01ae90;
		}

		#footer .footer_content .footer_links .col h5 {
			text-align: left;
			letter-spacing: 1px;
			font-size: 15px;
			color: #ffffff;
			font-family: "Thasadith",sans-serif;
		}

		.col {
			display: inline-block;
			width: 26%;
			vertical-align: top;
			margin: 0 3% 0 0;
		}

		#footer .footer_content .footer_links .col a {
			text-decoration: none;
			font-family: "Thasadith",sans-serif;
			color: rgba(255, 255, 255, 0.5);
			letter-spacing: 1px;
			font-size: 15px;
             
		}

		.footer_social {
			width: 100px;
			float: left;
			margin-top: 33px;
			margin-left: 15px;
		}

			.footer_social a i {
				margin-left: 15px;
				font-size: 17px;
				color: #8b918d;
			}


		.copy_right {
			color: rgba(255, 255, 255, 0.5);
			text-align: center;
			margin-top: 40px;
		}


		.paint_search {
			border: solid 1px rgb(51, 239, 180);
		}


		#footer .footer_content .footer_links .col a:hover {
			opacity: 0.4;
		}
