
@{
    ViewBag.Title = "الرئيسية";
    //Layout = "~/Views/Shared/_CenterAdminLayout.cshtml";
}

<div class="col-lg-11">
    <h2 class="text-center">
        @*شكرا لتسجيلكم معنا <br />
        سوف يتم مراجعة البيانات والرد عليكم خلال 24 ساعة*@
        @ViewBag.MSG

    </h2>
</div>

