@model BeautyCentersProject.ViewModel.centerDetailsViewModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_CenterAdminLayout.cshtml";
}

<div class="col-lg-11">
    <h2 class="text-center">
        في حالة وجود اي عطل او استفسار يرجي التواصل معنا فورا
    </h2>
</div>
