@{
    ViewBag.Title = "About";
}
<h2>من نحن</h2>

<style>
    .aboutli:hover {
        font-size: large;
        color: #01ae90;
    }

    .aboutli {
        font-size: initial;
        padding-bottom: 15px;
    }

    .h3about:hover {
        font-size: xx-large;
        color: #01ae90;
    }
</style>
<div class="row" dir="rtl">
    <div class="col-12">
        <h3 class=" text-right h3about">من نحن ؟</h3>
        <br />
    </div>
    <div class="col-12 text-right">
        <ul>
            <li class="aboutli">نعرض لك مراكز التجميل بكل حيادية </li>
            <li class="aboutli">نحن نتيح لك فرضة تصفح مراكز التجميل بكل سهولة وتختار منها ما يناسبك</li>
            <li class="aboutli">تستطيع ان تقارن بين الاسعار وجودة الخدمات لدى كل مركز تجميل </li>
            <li class="aboutli">يمكنك ان تحجز موعدك المناسب وتختار خدمتك فى المركز الذى تريده </li>
            <li class="aboutli">بامكانك تقييم الخدمة والمركز التجميلى اذا اردت ذلك</li>
        </ul>
    </div>


</div>