@{
    ViewBag.Title = "Contact";
}
<br>
<br>


<div id="left" class="col-lg-6" style="text-align: right; padding-right: 10%">
    <div id="clients_header">
        <div class="text-center col-lg-8 pt-5 text-center ">
            <h3 class="" style="color:black; font-size:30px;">تواصل معنا </h3>
            <div class="d-flex justify-content-center">
                <hr style=" border 2px solid gray;width 45px;margin 0">
                <hr style=" border 2px solid #2a3666;width 35px;margin 0">
                <hr style=" border 2px solid gray;width 45px;margin 0">
                <br>

            </div>
            <p>أبق على اتصال</p>
        </div>

    </div>
    <div class="mt-5">
        <p class="pl-5 icons_h">
            <i class="fa fa-phone icon-bg"></i>
            <b>ارقام التليفونات</b>
        </p>
        <p class="phone1" style="padding-right: 10%">
            <b key="landLine"> الخط الارضي : </b>
            <a href="" key="landLinePhoneNum">+20 2 – 24178434</a>
        </p>

        <p class="phone1" style="padding-right: 10%">
            <b key="cellPhone"> الهاتف المحمول  : </b>
            <br>
            <a href="">+2 - 01030868082</a>
            <br>
            <br>
            <a href="">+2 - 01030868084</a>
        </p>

        <p class="pl-5 icons_h">
            <i class="far fa-envelope icon-bg"></i>
            <b>البريد الالكتروني</b>
        </p>
        <p>
            <a class="phone1" style="padding-right: 10%" href="">beautycenters35@gmail.com</a>
        </p>

        <p class="pl-5 mt-5 icons_h">
            <i class="fas fa-map-marker-alt icon-bg text-center "></i>
            <b>العنوان</b>
        </p>

        <span class="mt-5" style="padding-right: 10%">
            <p style="display:inline;"><b> اسيوط: </b></p>
            <p style="display:inline;">اسيوط شارع الجلاء 21 .</p>

            <br>
            <p style="display:inline;padding-right: 10%"><b>القاهرة:</b></p>
            <p style="display:inline;">الجيزة شارع الهرم بجوارالمترو  .</p>
            <br>

            <p style="display:inline; padding-right: 10%"><b> الاسكندرية: </b></p>
            <p style="display:inline;">  سيدي بشر شارع عباس 56.</p>

            <br>
            <p style="display:inline; padding-right: 10%"><b> سوهاج: </b></p>
            <p style="display:inline;"> شارع 15 بجوار الفرن الآلي</p>
        </span>
    </div>
    <br><br>
</div>

